/************************** TAG SELECTORS ********************************************/
body {
    background-image: url("../images/body3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #265073;
    border-width: 5px;
    display: inline-block;
    width: 50%
}
h1
{
    color: #2D9596

}
h3 {
    color: #2D9596
}

/************************** CLASS SELECTORS ********************************************/